

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	font-family: 'Roboto', sans-serif;
}

a:focus {
	text-decoration: none;
}

.container-full {
	width:100%;
	  overflow: hidden;
}

#navigation {
	background-color: #fff;
  	min-height: 100px;
 	 border-bottom: 3px solid #074377;
 	 margin-bottom: 0px;
 	 border-radius: 0;
}

#admin_navigation {
	background-color: #fff;
  	min-height: 100px;
 	 border-bottom: 3px solid #074377;
 	 margin-bottom: 0px;
 	 border-radius: 0;
}

.nav-elem li a {
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}

.navbar-brand {
	position: relative;
	top: 7px;
	width: 80%;
	height: 50px;
}

.nav-elem{
	padding-bottom: 10px;
}

.mynav {

}
#blocks {
	padding-top: 50px;
  	padding-bottom: 50px;
}

.block {
	text-align: center;
	margin: 20px 0;
}

.block img {
	  margin: 0 auto;
}

.block h3 {
	color: #34495e;
  	font-size: 24px;
  	font-weight: 600;
}

.block p {
	color: #666666;
  	font-size: 18px;
  	font-weight: 300;
}

#plans {
	background: #5d8c3d url("../img/circuit-pattern.png") repeat-y 50%;
  	height: auto;
	padding-top: 45px;
	background-size: 100%;
	padding-bottom: 45px;
}

#plans h2 {
	font-size: 36px;
  	color: #fff;
  	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

#plans h4 {
	color: #fff;
  	font-style: italic;
  	font-weight: 300;
  	text-align: center;
  	font-size: 24px;
  	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.plan {
	width: 280px;
  	background-color: #fff;
  	margin: 60px auto;
  	color: #666666;
  	text-align: center;
  	box-shadow: 4px 4px rgba(0,0,0,0.15);
}

.spans {
	width: 100%;
	  height: 50px;
}

.span1 {
	width: 139px;
  	height: 50px;
  	float:left;
  	background-color: #34495e;
  	font-size: 36px;
  	text-align: center;
  	color: #fff
}

.span2 {
	width: 139px;
  	height: 50px;
  	float:left;
  	background-color: #f0f0f0;
  	border-top: 1px solid #d6d6d6;
  	border-bottom: 1px solid #d6d6d6;
  	font-size: 18px;
  	text-align: center;
  	font-style: italic;
  	padding: 10px;
  	line-height: 1.6;
}

.plan h5 {
	font-size: 26px;
  	font-weight: 600;
  	text-align: center;
  	padding-top: 10px;
  	padding-bottom: 10px;
  	margin: 0;
  	color: #34495e;;
}

.plan ul {
	padding: 0;
}

.plan li {
	list-style: none;
	border-bottom: 1px solid #d6d6d6;
	width: 230px;
	height: 40px;
	margin: 0px auto;
	text-align: center;
	padding-top: 10px;
	color: #666666;
}

.linkBtn {
	background-color: #34495e;
  	color: #fff;
  	font-size: 16px;
  	display: inline-block;
  	padding: 10px 15px;
  	margin-bottom: 15px;
  	margin-top: 5px;
}

.linkBtn:hover {
	text-decoration: none;
}

.linkBtn:focus {
	text-decoration: none;
	color: #fff;
}

.linkBtn.no-stock {
	background-color: #E74C3C;
}

.linkView {
	color:#5d8c3d;
  	font-size: 16px;
}

.linkView:hover {
	text-decoration: underline;
	color:#5d8c3d;
}

#footer{
	background: url("../img/footer.png") no-repeat 50%;
	height: auto;
	padding-top: 30px;
	background-size: cover;
}

.menu {
	/*max-width: 250px;*/
	min-height: 50px;
 	margin: 0 auto;
  	margin-bottom: 50px;
}

.menu h4 {
	font-size: 24px;
  	color: #fff;
}

.menu ul {
	padding: 0;
}

.menu li {
	list-style: none;
}

.menu a {
	color: #96c277;
  	font-size: 16px;
  	font-weight: 200;
}

.menu h5 {
	color: #fff;
  	font-size: 16px;
  	font-weight: 600;
  	margin: 5px 0;
}

.menu p {
	color: #fff;
  	font-size: 16px;
  	font-weight: 300;
}

#btn {
	color: #5d8c3d;
  	font-size: 16px;
 	background-color: #fff;
  	padding: 8px;
  	font-weight: 400;
  	margin-top: 20px;
  	display: inline-block;
  	-webkit-transition: all .25s ease;
  	   -moz-transition: all .25s ease;
  	    -ms-transition: all .25s ease;
  	     -o-transition: all .25s ease;
  	        transition: all .25s ease;
}

#btn:hover {
	color: #fff;
	background: #5d8c3d;
}

.menu a:hover {
	text-decoration: none;
	color: #fff;
}

#footer2 {
	bottom: 0;
  	min-height: 100px;
  	background: rgba(0, 0, 0, 0.3);
  	padding: 20px 0;
}

.copyright {
	color: #fff;
  	font-weight: 300;
  	font-size: 14px;
}

.footernav {

}

.footernav ul {
	padding: 0;
}

.footernav li {
	list-style: none;
 	padding: 0 10px;
  	margin: 5px 0;
  	float: left;
}
.footernav li:first-child {
	border-right: 1px solid #fff;
}

.footernav a {
	color: #96c277;
  	font-size: 14px;
  	font-weight: 300;
}

.footernav a:hover {
	text-decoration: none;
	color: #fff;
}

.twitter {
	  margin: 20px 0;
}

.twitter a {
	font-size: 25px;
  	background-color: #5d8c3d;
  	color: #fff;
  	width: 36px;
  	height: 36px;
  	display: block;
  	text-align: center;
  	margin-top: 13px;
  	-webkit-transition: all .25s ease;
  	   -moz-transition: all .25s ease;
  	    -ms-transition: all .25s ease;
  	     -o-transition: all .25s ease;
  	        transition: all .25s ease;
}

.twitter a:hover {
	color: #5d8c3d;
	background-color: #fff;
}

#map {
	background-color: #eeeeee;
}

#map h1 {
	font-size: 36px;
  	text-align: center;
  	color: #34495e;
}

#map h3 {
	font-size: 24px;
  	font-weight: 300;
  	color: #34495e;
  	font-style: italic;
  	text-align: center;
  	margin: 0;
}
.map-wrapper {
	padding: 50px 0;
	text-align: center;
}

.text p{
	color: #666666;
  	font-size: 18px;
  	font-weight: 300;
}
.join p{
	font-weight: 600;
  	font-size: 20px;
  	color: #34495e;
}

.text span {
	color: #5d8c3d;
}

.block2 {
	  margin: 30px 0;
}

.block2 h3 {
	font-weight: 400;
}

.block2 p {
	color: #34495e;
  	font-size: 16px;

}

.circle2 {
	background-color: #5d8c3d!important;
  	width: 95px;
  	height: 95px;
  	line-height: 95px;
  	color: #fff;
  	font-size: 45px!important;
  	-webkit-transition: all .5s ease;
  	   -moz-transition: all .5s ease;
  	    -ms-transition: all .5s ease;
  	     -o-transition: all .5s ease;
  	        transition: all .5s ease;
}

.circle2:hover {
	-webkit-transform: rotate(360deg);
  	   -moz-transform: rotate(360deg);
  	    -ms-transform: rotate(360deg);
  	     -o-transform: rotate(360deg);
  	        transform: rotate(360deg);
}

.navbar-toggle {
	margin-top: 30px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	position: relative;
	top: 15px;
}
/* server.html */

#heading {
	background: url("../img/banner1.png") no-repeat 50%;
	height: auto;
	background-size: cover;
	min-height: 150px;
	padding: 20px;
}

#heading h1 {
	color: #fff;
  	font-size: 26px;
  	padding: 15px 0px;
  	margin: 0 auto;
  	text-align: center;
}

#vps-heading {
	background: url("../img/banner2.png") no-repeat 50%;
	height: auto;
	background-size: cover;
	min-height: 150px;
	padding: 20px;
}

#vps-heading h1 {
	color: #fff;
  	font-size: 26px;
  	padding: 15px 0px;
  	margin: 0 auto;
  	text-align: center;
}

#about-heading {
	background: url("../img/banner3.png") no-repeat 50%;
	height: auto;
	background-size: cover;
	min-height: 150px;
	padding: 20px;
}

#about-heading h1 {
	color: #fff;
  	font-size: 26px;
  	padding: 15px 0px;
  	margin: 0 auto;
  	text-align: center;
}

#vps-heading .icon {
	background: rgba(250, 250, 250, 0.15) url(../img/vps-icon.png) no-repeat 50%;
}

#heading .icon {
	background: rgba(250, 250, 250, 0.15) url(../img/server-icon.png) no-repeat 50%;
}

#about-heading .icon {
	background: rgba(250, 250, 250, 0.15) url(../img/about_icon.png) no-repeat 50%;
}
.icon {
  	border-radius: 50%;
  	font-size: 30px;
  	margin: 0 auto;
  	display: block;
  	width: 75px;
  	height: 75px;
  	position: relative;
  	background-size: 26px;
}

.circle {
	border-radius: 50%;
}

#plans2 {
	background: url("../img/circuit-pattern.png") no-repeat 50%;
  	height: auto;
	padding-top: 30px;
	background-size: 100%;
	padding-bottom: 60px;
}

#plans2 h2 {
	color: #34495e;
 	font-size: 36px;
  	text-align: center;
}

#plans2 h4 {
	color: #34495e;
	font-size: 24px;
	font-weight: 300;
	font-style: italic;
	text-align: center;
}

.plan2 {
	border: 1px solid #e2e2e2;
}

#plans3 {
	background: url("../img/circuit-pattern.png") no-repeat 50%;
  	height: auto;
	padding-top: 30px;
	background-size: 100%;
	padding-bottom: 40px;
}

#plans3 h2 {
	color: #34495e;
 	font-size: 36px;
  	text-align: center;
}

#plans3 h4 {
	color: #34495e;
	font-size: 24px;
	font-weight: 300;
	font-style: italic;
	text-align: center;
}

.btnLink {
	margin: 0px auto;
  	padding: 20px 0;
}

.plan:hover h5 {
	color: #5D8C3D;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}

.plan:hover .span1 {
	background: #5D8C3D;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}

.plan:hover .linkBtn {
	background: #5D8C3D;
	color: #fff;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}

.linkBtn i {
	margin-left: 7px;
}

.btnLink a {
	width: 100px;
	font-size: 24px;
  	padding: 5px 15px;
  	margin: 5px;
  	-webkit-transition: all .25s ease;
  	   -moz-transition: all .25s ease;
  	    -ms-transition: all .25s ease;
  	     -o-transition: all .25s ease;
  	        transition: all .25s ease;
}

.btnLink a:hover {
	text-decoration: none;
}

.btnLink a.active {
	color: #fff;
  	background-color: #34495e;
}

.btnLink a {
	background-color: #e7e7e7;
  	color: #34495e;
  	padding: 5px 30px!important;
}

.btnLink a:hover {
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
    background-color: #5D8C3D;
    color: #fff !important;
}

.blue:hover {
	text-decoration: none;
	color: #5d8c3d;
}

.white:hover {
	text-decoration: none;
	color: #5d8c3d;
}

.green {
	color: #5d8c3d!important;
}

.twitter {
	float: left !important;
	margin-left: 10px;
}

#plans3, #plans2 {
	background-repeat: repeat-y;
}


#slider {
	height: 450px;
}

#slider h1 {
	font-size: 65px;
  	color: #fff;
}

#slider p {
	font-size: 42px;
  	font-weight: 300;
  	text-align: center;
}

#slider a {

}

.slide {
	background: #5d8c3d;
	background-size: cover;
	padding-bottom: 60px;
	height: 450px;
}

#bottom-nav .dropdown-menu li {
	height: 40px;
}

#bottom-nav .dropdown-menu .divider {
	height: 2px;
	margin:0px;
}

.subNav {
	padding:0;
}

#bottom-nav .dropdown-menu li a {
	  padding: 10px 20px;
}

.tab-cnt {
    display: none;
}

.tab-cnt.active {
    display: block !important;
}

.tabs_container {
	text-align: center;
	margin-bottom: -30px;
}

.tabs_container li {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    list-style: none;
}

.tab-single {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.aboutp {
	font-size: 20px;
  	text-align: center;
  	font-weight: 300;
  	color: #34495e;
  	padding: 20px;
}

#blocks h2 {
	color: #34495e;
  	font-size: 36px;
  	text-align: center;
}

#blocks h5 {
	font-size: 24px;
  	font-weight: 300;
  	font-style: italic;
  	text-align: center;
  	color: #34495e;
}

#vapornode {
	background: url("../img/about.png") no-repeat 50%;
	min-height: 630px;
	padding-top: 65px;
	padding-bottom: 80px;
	background-size: cover;
}

#vapornode h2 {
	font-size: 36px;
  	font-weight: 400;
  	color: #34495e;
  	text-align: center;
}

#vapornode h5 {
	color: #34495e;
  	font-weight: 300;
  	font-size: 24px;
  	font-style: italic;
  	text-align: center;
}

#vapornode p {
	padding: 20px;
  	color: #34495e;
  	font-size: 20px;
  	font-weight: 300;
  	text-align: center;
}

#vapornode i {
	color: #5d8c3d;
  	padding-right: 10px;
}

.smallBtnLink a{
	font-size: 18px;
	  margin: 0;
	    padding: 10px 15px !important;
}

.datacenters {
	padding-top: 50px;
  	padding-bottom: 100px;
  	min-height: 280px;
}

.datacenters img{
	margin: 0 auto;
}

.datacenters p{
	color: #34495e;
  	font-size: 18px;
  	text-align: center;
  	padding: 50px 20px;
  	font-weight: 300;
}

.tabs_containermb0 {
	margin: 0;
}

.h2datacenters {
	color: #34495e;
  	text-align: center;
  	font-size: 36px;
  	margin-top: 50px;
  	margin-bottom: 30px;
}

.green_tab a {
	color: #074377;
}

.green_tab a:hover {
	background: #34495E;
	color: #fff;
}

.green_tab a.active {
	background: #074377;
}

#slider h1 {
	font-size: 36px;
}

#slider p {
	font-size: 18px;
}

#slider .carousel-caption {
	bottom: 0;
	top: 0;
}

.learn_more_btn {
	background: transparent;
	border: 2px solid #fff;
	color: #fff;
	font-weight: 300;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
    border-radius: 0;
    margin-top: 25px;
}

.learn_more_btn:hover, .learn_more_btn:focus {
	background: #fff;
	color: #34495E;
}

#slider .carousel-indicators li {
	width: 50px;
	height: 10px;
	border-radius: 0;
	border: none;
	background: #fff;
	opacity: 0.5;
}

.carousel-indicators .active {
	opacity: 1 !important;
	margin: 1px;
}

.map_dc {
	background: url(../img/line.png) no-repeat 50%;
	background-size: contain;
	min-height: 250px;
	width: 320px;
	margin: 0 auto;
	position: relative;
}

.pin {
	width: 20px;
	height: 20px;
	position: absolute;
}

.pin1 {
	top: 77px;
  	left: 196px;
}

.pin2 {
	top: 140px;
  	left: 58px;
}

.map_dc .dropdown {
	position: absolute;
}

.map_dc .dropdown button, .map_dc .dropdown.open button {
	font-size: 12px;
	padding: 4px 8px;
	border: none;
	border-radius: 0;
	background: #34495E;
	color: #fff;
	font-weight: 300;
}

.map_dc .dropdown button:focus {
	outline: none;
}

.dropdown_chi {
	top: 75px;
  	left: 130px;
}

.map_dc .dropdown .dropdown-menu {
	min-width: 100px;
	font-size: 12px;
}

.dropdown_pho {
	top: 138px;
  	left: 0px;
}

.tooltip-inner {
	background: #34495E;
	opacity: 1;
}

.tooltip.top .tooltip-arrow {
	border-top-color: #34495E;
	opacity: 1;
}

#slider .carousel-inner .item:nth-child(1) {
	background: url("../img/slide1.png") no-repeat 50%;
}

#slider .carousel-inner .item:nth-child(2) {
	background: url("../img/slide2.png") no-repeat 50%;
}

#slider .carousel-inner .item:nth-child(3) {
	background: url("../img/slide3.png") no-repeat 50%;
}

.form-control:focus {
  border-color: #074377;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(39, 170, 226, 0.6);
}

.btn-info.active {
	background-color: #074377;
	border-color: #000;
}

.vnbc {
	margin-bottom:0px;
	border-radius:0px;
	background-color:transparent;
}

.vnbc a {
	color: #34495E;
}

.vnalf a {
	color: #34495E;
}

.vnbc a:hover {
	color: #fff;
}

.vnalf a:hover {
	color: #A94442;
}

.alert-info-vngreen {
	color: #34495E;
	background-color: #27AAE2;
	border-top:none;border-left:none;border-right:none;
	border-bottom:3px solid #074377;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
	color: #fff;
	background-color: #074377;
}

.nav-pills>li>a {
	color: #34495e;
}

@media (min-width: 768px){
	.nav-elem{
		padding-bottom: 0px;
	}

	#navigation {
  		min-height: 100px;
	}
	#admin_navigation {
  		min-height: 100px;
	}

	.navbar-brand {

  		height: 55px;
  		padding: 0;
 	 	margin: 20px 0 20px 20px;
	}
	.nav-elem{

	}
	.nav-elem li{
		height:97px;
	}
	.nav-elem li a{
		padding: 38px 7px;;
  		color: #34495e!important;
  		font-size: 14px;
  		height: 100%;
	}
	.nav-elem li a:hover {
		background-color: #074377!important;
		color: #fff!important;
		text-decoration: none;
	}
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
		background-color: #074377!important;
		color: #fff!important;
		line-height: 21px;
	}

	.plan {
		margin: 20px 40px;
	}

	.plan:nth-child(odd) {
		float: left;
	}

	.plan:nth-child(even) {
		float: right;
	}

	.plans {

	}
	.wrapper {

	}

	.menu {
		/*max-width: 250px;*/
	}

	.twitter {
		margin: 0;
		float: right;
	}

	.wraper {

	}
	#heading h1 {
	  font-size: 46px;
	  padding: 32px 30px;
	  float: left;
	}

	#vps-heading h1 {
		font-size: 46px;
	  	padding: 32px 30px;
	  	float: left;
	}

	#about-heading h1 {
		font-size: 46px;
	  	padding: 32px 30px;
	  	float: left;
	}

	.icon {
		float: left;
		margin-top: 17px;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		top: 0px;
	}

	.twitter {
		float: right !important;
		margin-left: 0px;
	}

	#heading {
		height:150px;
	}

	#vps-heading {
		height:150px;
	}

	#about-heading {
		height:150px;
	}

	#plans2 .plan {
		float: none;
		margin: 30px auto;
	}

	#vapornode p {
		text-align: left;
	}

	.datacenters p {
		text-align: left;
		padding:0;
	}

	.datacenters {
		margin-bottom: 0;
	}

	.slide, #slider {
		height: 300px;
	}

	.map_dc {
		width: 747px;
	}

	.pin1 {
		top: 63px;
  		left: 424px;
	}

	.pin2 {
	  	top: 150px;
  		left: 235px;
	}

	.dropdown_chi {
	  	top: 62px;
	  	left: 455px;
	}

	.dropdown_pho {
	  	top: 147px;
	  	left: 265px;
	}
}

@media (min-width: 992px){
	.nav-elem li a{
		padding: 38px 20px;
  		color: #34495e!important;
  		font-size: 18px;
	}
	.nav-elem li a:hover {
		background-color: #074377!important;
		color: #fff!important;
		text-decoration: none;
	}
	.plan {
		margin: 60px 95px;
	}

	.icon {
		margin-top: 0;
		background-size: 32px;
	}

	#heading {
		height:180px;
		padding-top: 50px;
	}

	#vps-heading {
		height:180px;
		padding-top: 50px;
	}

	#vps-heading h1 {
		padding: 14px 25px;
	}

	#about-heading {
		height:180px;
		padding-top: 50px;
	}

	#about-heading h1 {
		padding: 14px 25px;
	}

	#heading h1 {
		  padding: 14px 25px;
	}

	#plans2 {
		background-repeat: no-repeat;
	}

	#plans2 .plan {
		float: left;
  		margin-left: 3.5%;
	}

	#slider, .slide {
		height: 600px;
	}

	#slider h1 {
		font-size: 65px;
	}

	#slider p {
		font-size: 36px;
	}

	.learn_more_btn {
		font-size: 18px;
		padding: 6px 36px;
	}

	.map_dc {
		max-width: 535px;
	}

	.pin1 {
		top: 63px;
  		left: 320px;
	}

	.pin2 {
	  	top: 150px;
  		left: 130px;
	}

	.dropdown_pho {
		top: 147px;
	  	left: 163px;
	}

	.dropdown_chi {
		top: 62px;
	  	left: 350px;
	}

	.map-wrapper {
		text-align: left;
	}
}

@media (min-width: 1200px){
	.plan {
		margin: 30px 6px;
	}

	.plan:nth-child(even) {
		float: left;
	}

	#plans {
		background: #5d8c3d url("../img/circuit-pattern.png") no-repeat 50%;
	}

	#plans3, #plans2 {
		background-repeat: no-repeat;
	}

	.icon {
		width: 95px;
		height:95px;
		bottom: 10px;

		position: relative;
	}

	#heading {
		height:200px;
		padding-top: 60px;
	}

	#vps-heading {
		height:200px;
		  padding-top: 60px;
	}

	#about-heading {
		height:200px;
		  padding-top: 60px;
	}

	#plans2 .plan {
	  margin-left: 6.5%;
	}

	#slider h1 {
		font-size: 65px;
	  	color: #fff;
	}

	#slider p {
		margin-top: 30px;
		font-size: 42px;
	  	font-weight: 300;
	  	text-align: center;
	}

	.datacenters p {
		max-width: 500px;
	}

	.learn_more_btn {
		margin-top: 20px;
	}
}

/* CUSTOM CSS RULES */

.login-box {
	background-color: #E3E3E3;
	padding-bottom: 20px;
	border: 10px solid #074377;
}
.tooltip-wrapper {
  display: inline-block;
}

.tooltip-wrapper .btn[disabled] {
  pointer-events: none;
}

.tooltip-wrapper.disabled {
  cursor: not-allowed;
}

.socket_error {
	visibility:hidden;
	text-align:center;
	background-color:red;
	color:white;
	font-size:20px;
	padding:10px;
}

.btn, input, .form-control, .alert, .label, .progress, .panel {
	border-radius: 0px;
}

.pulse {
  display: block;
  width: 100%;
  height: 5px;
  background: #074377;
  box-shadow: 0 0 0 rgba(39,170,226,0.5);
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(39,170,226,0.5);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(39,170,226,0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(39,170,226,0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(39,170,226,0.5);
    box-shadow: 0 0 0 0 rgba(39,170,226,0.5);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(39,170,226,0);
      box-shadow: 0 0 0 10px rgba(39,170,226,0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(39,170,226,0);
      box-shadow: 0 0 0 0 rgba(39,170,226,0);
  }
}
.rebuild_progress {
	-webkit-transition: none !important;
	transition: none !important;
}
.man_rebuild_progress {
	-webkit-transition: none !important;
	transition: none !important;
}
.restore_progress {
	-webkit-transition: none !important;
	transition: none !important;
}
#ramsliderLabel, #cpusliderLabel, #disksliderLabel {
	margin-left: 10px;
}
.jvectormap-container {
	width:620px;
	height:400px;
}
#geoipmap {
	width:620px;
	height:400px;
}
.admin_dd {
	padding: 10px 20px !important;
	height: auto !important;
}
.admin_dd_li {
	height: auto !important;
}
